

  <form [formGroup]="userCreateForm" (ngSubmit)="submitForm()" class= "row g-3">
    <div class="row mt-2 d-flex">
      <div class="form-group col-md-6">
        <label for="name" >Name:</label>
        <input type="text" placeholder="Name" formControlName="Name" aria-label="Name" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="email" >Email:</label>
        <input
          type="text"
          id="email"
          placeholder="Country"
          formControlName="Email" class="form-control"
        />
      </div>
    </div>
    <div class="row mt-2 d-flex">
      <div class="col-md-4">
        <label for="mobile">Mobile:</label>
        <input
          type="text"
          id="mobile"
          placeholder="Zip"
          formControlName="Mobile" class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label for="age" class="form-label">Age:</label>
        <input type="text" id="age" placeholder="Zip" formControlName="Age" class="form-control"/>
      </div>
    </div>
    <div>
      <button class="btn  btn-primary"  type="submit">Add Users</button>
      <button class="btn btn-secondary" type="button">Reset</button>
    </div>
  </form>


