<!-- <p>users works!</p>

<div>
    <button>Add USERS</button>
</div>

<div>
    <button>List USERS</button>
</div> -->

<div>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="Name" formControlName="Name" />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        placeholder="Country"
        formControlName="Email"
      />
    </div>
    <div>
      <label for="mobile">Mobile</label>
      <input
        type="text"
        id="mobile"
        placeholder="Zip"
        formControlName="Mobile"
      />
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" id="age" placeholder="Zip" formControlName="Age" />
    </div>
    <div>
      <button type="submit">Add Users</button>
      <button type="button">Reset</button>
    </div>
  </form>
</div>

<!-- <div>
  <table id="employees">
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of users; let i = index">
      <td>{{ item.id }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.Email }}</td>
      <td>{{ item.Mobile }}</td>
      <td>{{ item.Age }}</td>
      <td><button type="button" (click)="DeleteUser(item.id)">Delete</button>
    <button type="button" (click)="EditUserById(item.id)">Edit</button></td>
    </tr>
  </table>
</div> -->
